@font-face {
    font-family: 'MinhaFonte';
    src: url('/fontsNew/AllRoundGothic-Bold.ttf') format('truetype'),
         url('/fontsNew/AllRoundGothic-Demi.ttf') format('truetype'),
         url('/fontsNew/AllRoundGothic-Medium.ttf') format('truetype'),
         url('/fontsNew/AllRoundGothic-XLig.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#logoutButton {
    margin-top: 150px;
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 16px;
    font-size: 22px;
    background-color: #d32020;
    color: #fff;
    cursor: pointer;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'MinhaFonte', sans-serif;
}


body {
    font-family: 'MinhaFonte', sans-serif;
    background-color: #05022B;
}

.container {
    display: flex;
}

.left {
    width: 15%;
    height: 100vh;
}

nav .top-image {
    width: 200px;
}

nav {
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}

ul li a{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    width: 90%;
}

ul li img {
    width: 25px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

.right {
    width: 85%;
    background-color: #D1D1E0;
    border-radius: 80px 0px 0px 80px;
    box-shadow: 8px 8px 12px #0000003c;
    color: #464590;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.comun {
    background-color: #fff;
    padding: 40px;
    border-radius: 22px;
}

.right {
    width: 85%;
    background-color: #D1D1E0;
    border-radius: 80px 0px 0px 80px;
    box-shadow: 8px 8px 12px #0000003c;
    color: #464590;
    padding: 20px;
}


.right form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right input {
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #431BD6;
    border-radius: 2px;
    outline: none;
    padding: 4px;
    font-size: 16px;
    width: 400px;
}
textarea {
    border: 2px solid #431BD6;
    border-radius: 2px;
    outline: none;
    padding: 4px;
    font-size: 16px;
    width: 400px;
}

.right span {
    display: none;
    font-size: 12px;
    margin-top: -15px;
}

.right button {
    width: 50%;
    margin: 0 auto;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #7342EB;
    color: #fff;
    cursor: pointer;
}

.right button:hover {
    background-color: #8B55F5;
    transition: all ease .5s;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Conteúdo do popup */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Estilo do botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.center img {
    width: 250px;
    height: 300px;
}

.center .img1 {
    width: 220px;
    height: 300px;
}

textarea { 
    resize: none;
}

textarea::placeholder {
    text-align: center;
    padding-top: 75px;
}

.menu-toggle {
    display: none; /* Esconder o botão por padrão */
    background-color: transparent;
    border: none;
    color: white; /* Cor do ícone */
    font-size: 30px; /* Tamanho do ícone */
    cursor: pointer; /* Cursor de mão */
}

@media (max-width: 768px) {
    .left {
        width: 100%; /* Largura total em telas pequenas */
        position: relative; /* Para controle de posicionamento */
    }

    .menu-toggle {
        display: block; /* Mostrar botão de menu hambúrguer */
        position: absolute; /* Posicionar dentro da div */
        top: 20px; /* Ajuste a posição se necessário */
        left: 20px; /* Ajuste a posição se necessário */
        z-index: 2; /* Para que fique acima do menu */
        color: #fff;
        font-size: 30px;
        font-weight: 900;
    }

    nav {
        display: none; /* Esconder o menu por padrão em telas pequenas */
    }

    nav.active {
        display: flex; /* Mostrar o menu quando ativado */
        flex-direction: column; /* Ajustar o layout do menu */
        margin-top: 50px;
    }

    .right {
        width: 100%; /* Largura total da div direita em telas pequenas */
        height: 100vh;
        border-radius: 0;
        padding-top: 150px
    }

    h1 {
        font-size: 48px;
    }

    .right input, select, textarea {
        font-size: 22px;
        padding: 10px;
        border-radius: 22px;
    }
}
