@font-face {
    font-family: 'MinhaFonte';
    src: url('/fontsNew/AllRoundGothic-Bold.ttf') format('truetype'),
         url('/fontsNew/AllRoundGothic-Demi.ttf') format('truetype'),
         url('/fontsNew/AllRoundGothic-Medium.ttf') format('truetype'),
         url('/fontsNew/AllRoundGothic-XLig.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'MinhaFonte', sans-serif;
}

body {
    font-family: 'MinhaFonte', sans-serif;
    background-color: #05022B;
}

.imagem-fixa {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 40px 0 0 40px;
}

.imagem-fixa img {
    width: 250px;
    height: auto;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.left img {
    width: 250px;

}

.left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: 100%;
}

.left h1 {
    color: #F8F8F8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 90px;
}

.left p {
    color: #A3A2A2;
    font-size: 30px;
    font-style: normal;
    font-weight: 590;
}

.left select {
    width: 60%;
    height: 40px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    padding: 6px;
    font-size: 16px;
    background: #2a1183;
    color: #fff;
    outline: none;
}

.left input {
    width: 60%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: #ffffff00;
    margin-top: 30px;
    color: #fff;
    padding: 8px;
    overflow: hidden;
    outline: none;
}

.left input::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

button {
    cursor: pointer;
    padding: 6px;
    width: 30%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-color: #2a1183;
    color: #fff;
    transition: all ease 0.2s;
}

button:hover {
    background-color: #2a11838b;
}

.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #464590;
    height: 100vh;
}

.right img {
    width: 550px;
    
}

.left a {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .right {
        display: none;
    }

    .left p {
        font-size: 22px;
        width: 400px;
        text-align: center;
    }

    .left input {
        width: 120%;
    }

    button {
        width: 100%;
    }
}